build.bat
.vscode/c_cpp_properties.json
.vscode/tasks.json
bin/PingPong.exe
bin/sfml-audio-3.dll
bin/sfml-audio-d-3.dll
bin/sfml-graphics-3.dll
bin/sfml-graphics-d-3.dll
bin/sfml-network-3.dll
bin/sfml-network-d-3.dll
bin/sfml-system-3.dll
bin/sfml-system-d-3.dll
bin/sfml-window-3.dll
bin/sfml-window-d-3.dll
include/libssh2_publickey.h
include/libssh2_sftp.h
include/libssh2.h
include/mbedtls/aes.h
include/mbedtls/aria.h
include/mbedtls/asn1.h
include/mbedtls/asn1write.h
include/mbedtls/base64.h
include/mbedtls/bignum.h
include/mbedtls/block_cipher.h
include/mbedtls/build_info.h
include/mbedtls/camellia.h
include/mbedtls/ccm.h
include/mbedtls/chacha20.h
include/mbedtls/chachapoly.h
include/mbedtls/check_config.h
include/mbedtls/cipher.h
include/mbedtls/cmac.h
include/mbedtls/compat-2.x.h
include/mbedtls/config_adjust_legacy_crypto.h
include/mbedtls/config_adjust_legacy_from_psa.h
include/mbedtls/config_adjust_psa_from_legacy.h
include/mbedtls/config_adjust_psa_superset_legacy.h
include/mbedtls/config_adjust_ssl.h
include/mbedtls/config_adjust_x509.h
include/mbedtls/config_psa.h
include/mbedtls/constant_time.h
include/mbedtls/ctr_drbg.h
include/mbedtls/debug.h
include/mbedtls/des.h
include/mbedtls/dhm.h
include/mbedtls/ecdh.h
include/mbedtls/ecdsa.h
include/mbedtls/ecjpake.h
include/mbedtls/ecp.h
include/mbedtls/entropy.h
include/mbedtls/error.h
include/mbedtls/gcm.h
include/mbedtls/hkdf.h
include/mbedtls/hmac_drbg.h
include/mbedtls/lms.h
include/mbedtls/mbedtls_config.h
include/mbedtls/md.h
include/mbedtls/md5.h
include/mbedtls/memory_buffer_alloc.h
include/mbedtls/net_sockets.h
include/mbedtls/nist_kw.h
include/mbedtls/oid.h
include/mbedtls/pem.h
include/mbedtls/pk.h
include/mbedtls/pkcs5.h
include/mbedtls/pkcs7.h
include/mbedtls/pkcs12.h
include/mbedtls/platform_time.h
include/mbedtls/platform_util.h
include/mbedtls/platform.h
include/mbedtls/poly1305.h
include/mbedtls/private_access.h
include/mbedtls/psa_util.h
include/mbedtls/ripemd160.h
include/mbedtls/rsa.h
include/mbedtls/sha1.h
include/mbedtls/sha3.h
include/mbedtls/sha256.h
include/mbedtls/sha512.h
include/mbedtls/ssl_cache.h
include/mbedtls/ssl_ciphersuites.h
include/mbedtls/ssl_cookie.h
include/mbedtls/ssl_ticket.h
include/mbedtls/ssl.h
include/mbedtls/threading_alt.h
include/mbedtls/threading.h
include/mbedtls/timing.h
include/mbedtls/version.h
include/mbedtls/x509_crl.h
include/mbedtls/x509_crt.h
include/mbedtls/x509_csr.h
include/mbedtls/x509.h
include/psa/build_info.h
include/psa/crypto_adjust_auto_enabled.h
include/psa/crypto_adjust_config_dependencies.h
include/psa/crypto_adjust_config_key_pair_types.h
include/psa/crypto_adjust_config_synonyms.h
include/psa/crypto_builtin_composites.h
include/psa/crypto_builtin_key_derivation.h
include/psa/crypto_builtin_primitives.h
include/psa/crypto_compat.h
include/psa/crypto_config.h
include/psa/crypto_driver_common.h
include/psa/crypto_driver_contexts_composites.h
include/psa/crypto_driver_contexts_key_derivation.h
include/psa/crypto_driver_contexts_primitives.h
include/psa/crypto_extra.h
include/psa/crypto_legacy.h
include/psa/crypto_platform.h
include/psa/crypto_se_driver.h
include/psa/crypto_sizes.h
include/psa/crypto_struct.h
include/psa/crypto_types.h
include/psa/crypto_values.h
include/psa/crypto.h
include/SFML/Audio.hpp
include/SFML/Config.hpp
include/SFML/GpuPreference.hpp
include/SFML/Graphics.hpp
include/SFML/Main.hpp
include/SFML/Network.hpp
include/SFML/OpenGL.hpp
include/SFML/System.hpp
include/SFML/Window.hpp
include/SFML/Audio/AudioResource.hpp
include/SFML/Audio/Export.hpp
include/SFML/Audio/InputSoundFile.hpp
include/SFML/Audio/Listener.hpp
include/SFML/Audio/Music.hpp
include/SFML/Audio/OutputSoundFile.hpp
include/SFML/Audio/PlaybackDevice.hpp
include/SFML/Audio/Sound.hpp
include/SFML/Audio/SoundBuffer.hpp
include/SFML/Audio/SoundBufferRecorder.hpp
include/SFML/Audio/SoundChannel.hpp
include/SFML/Audio/SoundFileFactory.hpp
include/SFML/Audio/SoundFileFactory.inl
include/SFML/Audio/SoundFileReader.hpp
include/SFML/Audio/SoundFileWriter.hpp
include/SFML/Audio/SoundRecorder.hpp
include/SFML/Audio/SoundSource.hpp
include/SFML/Audio/SoundStream.hpp
include/SFML/Graphics/BlendMode.hpp
include/SFML/Graphics/CircleShape.hpp
include/SFML/Graphics/Color.hpp
include/SFML/Graphics/Color.inl
include/SFML/Graphics/ConvexShape.hpp
include/SFML/Graphics/CoordinateType.hpp
include/SFML/Graphics/Drawable.hpp
include/SFML/Graphics/Export.hpp
include/SFML/Graphics/Font.hpp
include/SFML/Graphics/Glsl.hpp
include/SFML/Graphics/Glsl.inl
include/SFML/Graphics/Glyph.hpp
include/SFML/Graphics/Image.hpp
include/SFML/Graphics/PrimitiveType.hpp
include/SFML/Graphics/Rect.hpp
include/SFML/Graphics/Rect.inl
include/SFML/Graphics/RectangleShape.hpp
include/SFML/Graphics/RenderStates.hpp
include/SFML/Graphics/RenderTarget.hpp
include/SFML/Graphics/RenderTexture.hpp
include/SFML/Graphics/RenderWindow.hpp
include/SFML/Graphics/Shader.hpp
include/SFML/Graphics/Shape.hpp
include/SFML/Graphics/Sprite.hpp
include/SFML/Graphics/StencilMode.hpp
include/SFML/Graphics/Text.hpp
include/SFML/Graphics/Texture.hpp
include/SFML/Graphics/Transform.hpp
include/SFML/Graphics/Transform.inl
include/SFML/Graphics/Transformable.hpp
include/SFML/Graphics/Vertex.hpp
include/SFML/Graphics/VertexArray.hpp
include/SFML/Graphics/VertexBuffer.hpp
include/SFML/Graphics/View.hpp
include/SFML/Network/Dns.hpp
include/SFML/Network/Export.hpp
include/SFML/Network/Ftp.hpp
include/SFML/Network/Http.hpp
include/SFML/Network/IpAddress.hpp
include/SFML/Network/Packet.hpp
include/SFML/Network/Sftp.hpp
include/SFML/Network/Socket.hpp
include/SFML/Network/SocketHandle.hpp
include/SFML/Network/SocketSelector.hpp
include/SFML/Network/TcpListener.hpp
include/SFML/Network/TcpSocket.hpp
include/SFML/Network/UdpSocket.hpp
include/SFML/System/Angle.hpp
include/SFML/System/Angle.inl
include/SFML/System/Clock.hpp
include/SFML/System/Err.hpp
include/SFML/System/Exception.hpp
include/SFML/System/Export.hpp
include/SFML/System/FileInputStream.hpp
include/SFML/System/InputStream.hpp
include/SFML/System/MemoryInputStream.hpp
include/SFML/System/NativeActivity.hpp
include/SFML/System/Sleep.hpp
include/SFML/System/String.hpp
include/SFML/System/String.inl
include/SFML/System/SuspendAwareClock.hpp
include/SFML/System/Time.hpp
include/SFML/System/Time.inl
include/SFML/System/TimeoutWithPredicate.hpp
include/SFML/System/Utf.hpp
include/SFML/System/Utf.inl
include/SFML/System/Vector2.hpp
include/SFML/System/Vector2.inl
include/SFML/System/Vector3.hpp
include/SFML/System/Vector3.inl
include/SFML/System/Version.hpp
include/SFML/Window/Clipboard.hpp
include/SFML/Window/Context.hpp
include/SFML/Window/ContextSettings.hpp
include/SFML/Window/Cursor.hpp
include/SFML/Window/Event.hpp
include/SFML/Window/Event.inl
include/SFML/Window/Export.hpp
include/SFML/Window/GlResource.hpp
include/SFML/Window/Joystick.hpp
include/SFML/Window/Keyboard.hpp
include/SFML/Window/Mouse.hpp
include/SFML/Window/Sensor.hpp
include/SFML/Window/Touch.hpp
include/SFML/Window/VideoMode.hpp
include/SFML/Window/Vulkan.hpp
include/SFML/Window/Window.hpp
include/SFML/Window/WindowBase.hpp
include/SFML/Window/WindowBase.inl
include/SFML/Window/WindowEnums.hpp
include/SFML/Window/WindowHandle.hpp
lib/libFLAC.a
lib/libFLACd.a
lib/libfreetype.a
lib/libfreetyped.a
lib/libharfbuzz.a
lib/libharfbuzzd.a
lib/libmbedcrypto.a
lib/libmbedcryptod.a
lib/libmbedtls.a
lib/libmbedtlsd.a
lib/libmbedx509.a
lib/libmbedx509d.a
lib/libogg.a
lib/liboggd.a
lib/libsfml-audio-d.a
lib/libsfml-audio-s-d.a
lib/libsfml-audio-s.a
lib/libsfml-audio.a
lib/libsfml-graphics-d.a
lib/libsfml-graphics-s-d.a
lib/libsfml-graphics-s.a
lib/libsfml-graphics.a
lib/libsfml-main-d.a
lib/libsfml-main.a
lib/libsfml-network-d.a
lib/libsfml-network-s-d.a
lib/libsfml-network-s.a
lib/libsfml-network.a
lib/libsfml-system-d.a
lib/libsfml-system-s-d.a
lib/libsfml-system-s.a
lib/libsfml-system.a
lib/libsfml-window-d.a
lib/libsfml-window-s-d.a
lib/libsfml-window-s.a
lib/libsfml-window.a
lib/libssh2.a
lib/libvorbis.a
lib/libvorbisd.a
lib/libvorbisenc.a
lib/libvorbisencd.a
lib/libvorbisfile.a
lib/libvorbisfiled.a
lib/cmake/FLAC/flac-config-version.cmake
lib/cmake/FLAC/flac-config.cmake
lib/cmake/FLAC/targets-debug.cmake
lib/cmake/FLAC/targets-release.cmake
lib/cmake/FLAC/targets.cmake
lib/cmake/freetype/freetype-config-debug.cmake
lib/cmake/freetype/freetype-config-release.cmake
lib/cmake/freetype/freetype-config-version.cmake
lib/cmake/freetype/freetype-config.cmake
lib/cmake/harfbuzz/harfbuzzConfig-debug.cmake
lib/cmake/harfbuzz/harfbuzzConfig-release.cmake
lib/cmake/harfbuzz/harfbuzzConfig.cmake
lib/cmake/libssh2/FindLibgcrypt.cmake
lib/cmake/libssh2/FindMbedTLS.cmake
lib/cmake/libssh2/FindWolfSSL.cmake
lib/cmake/libssh2/libssh2-config-version.cmake
lib/cmake/libssh2/libssh2-config.cmake
lib/cmake/libssh2/libssh2-targets-debug.cmake
lib/cmake/libssh2/libssh2-targets-release.cmake
lib/cmake/libssh2/libssh2-targets.cmake
lib/cmake/MbedTLS/MbedTLSConfig.cmake
lib/cmake/MbedTLS/MbedTLSConfigVersion.cmake
lib/cmake/MbedTLS/MbedTLSTargets-debug.cmake
lib/cmake/MbedTLS/MbedTLSTargets-release.cmake
lib/cmake/MbedTLS/MbedTLSTargets.cmake
lib/cmake/Ogg/OggConfig.cmake
lib/cmake/Ogg/OggConfigVersion.cmake
lib/cmake/Ogg/OggTargets-debug.cmake
lib/cmake/Ogg/OggTargets-release.cmake
lib/cmake/Ogg/OggTargets.cmake
lib/cmake/SFML/FindDRM.cmake
lib/cmake/SFML/FindEGL.cmake
lib/cmake/SFML/FindFLAC.cmake
lib/cmake/SFML/FindFreetype.cmake
lib/cmake/SFML/FindGBM.cmake
lib/cmake/SFML/FindGLES.cmake
lib/cmake/SFML/FindHarfBuzz.cmake
lib/cmake/SFML/FindLibssh2.cmake
lib/cmake/SFML/FindMbedTLS.cmake
lib/cmake/SFML/FindUDev.cmake
lib/cmake/SFML/FindVorbis.cmake
lib/cmake/SFML/SFMLAudioDependencies.cmake
lib/cmake/SFML/SFMLAudioSharedTargets-debug.cmake
lib/cmake/SFML/SFMLAudioSharedTargets-release.cmake
lib/cmake/SFML/SFMLAudioSharedTargets.cmake
lib/cmake/SFML/SFMLAudioStaticTargets-debug.cmake
lib/cmake/SFML/SFMLAudioStaticTargets-release.cmake
lib/cmake/SFML/SFMLAudioStaticTargets.cmake
lib/cmake/SFML/SFMLConfig.cmake
lib/cmake/SFML/SFMLConfigVersion.cmake
lib/cmake/SFML/SFMLGraphicsDependencies.cmake
lib/cmake/SFML/SFMLGraphicsSharedTargets-debug.cmake
lib/cmake/SFML/SFMLGraphicsSharedTargets-release.cmake
lib/cmake/SFML/SFMLGraphicsSharedTargets.cmake
lib/cmake/SFML/SFMLGraphicsStaticTargets-debug.cmake
lib/cmake/SFML/SFMLGraphicsStaticTargets-release.cmake
lib/cmake/SFML/SFMLGraphicsStaticTargets.cmake
lib/cmake/SFML/SFMLMainSharedTargets-debug.cmake
lib/cmake/SFML/SFMLMainSharedTargets-release.cmake
lib/cmake/SFML/SFMLMainSharedTargets.cmake
lib/cmake/SFML/SFMLMainStaticTargets-debug.cmake
lib/cmake/SFML/SFMLMainStaticTargets-release.cmake
lib/cmake/SFML/SFMLMainStaticTargets.cmake
lib/cmake/SFML/SFMLNetworkDependencies.cmake
lib/cmake/SFML/SFMLNetworkSharedTargets-debug.cmake
lib/cmake/SFML/SFMLNetworkSharedTargets-release.cmake
lib/cmake/SFML/SFMLNetworkSharedTargets.cmake
lib/cmake/SFML/SFMLNetworkStaticTargets-debug.cmake
lib/cmake/SFML/SFMLNetworkStaticTargets-release.cmake
lib/cmake/SFML/SFMLNetworkStaticTargets.cmake
lib/cmake/SFML/SFMLSystemDependencies.cmake
lib/cmake/SFML/SFMLSystemSharedTargets-debug.cmake
lib/cmake/SFML/SFMLSystemSharedTargets-release.cmake
lib/cmake/SFML/SFMLSystemSharedTargets.cmake
lib/cmake/SFML/SFMLSystemStaticTargets-debug.cmake
lib/cmake/SFML/SFMLSystemStaticTargets-release.cmake
lib/cmake/SFML/SFMLSystemStaticTargets.cmake
lib/cmake/SFML/SFMLWindowDependencies.cmake
lib/cmake/SFML/SFMLWindowSharedTargets-debug.cmake
lib/cmake/SFML/SFMLWindowSharedTargets-release.cmake
lib/cmake/SFML/SFMLWindowSharedTargets.cmake
lib/cmake/SFML/SFMLWindowStaticTargets-debug.cmake
lib/cmake/SFML/SFMLWindowStaticTargets-release.cmake
lib/cmake/SFML/SFMLWindowStaticTargets.cmake
lib/cmake/Vorbis/VorbisConfig.cmake
lib/cmake/Vorbis/VorbisConfigVersion.cmake
lib/cmake/Vorbis/VorbisTargets-debug.cmake
lib/cmake/Vorbis/VorbisTargets-release.cmake
lib/cmake/Vorbis/VorbisTargets.cmake
lib/pkgconfig/harfbuzz.pc
lib/pkgconfig/libssh2.pc
lib/pkgconfig/mbedcrypto.pc
lib/pkgconfig/mbedtls.pc
lib/pkgconfig/mbedx509.pc
